extends layout.pug

block right-display
  .intro
    blockquote
      | “파킹스페이스는 차주훈과 예훈이 함께 책을 만드는 출판사입니다. 종이책으로 시작했지만 분야에 제한을 두지 않고 만들 수 있는 모든 멋진 것들을 동경합니다. 출판사의 일이 책을 만드는 데 그치지 않았으면 합니다.”
  br
  .contact
    p Contact
    p Web.
      a(href='https://parkingspace.me')  parkingspace.me
    p Mobile. +82 10 5582 6039
    p Email.
      a(href='mailto: parkingspace.press@gmail.com')  parkingspace.press@gmail.com
    p Social.
      a(href='https://instagram.com/parkingspace.me')  @parkingspace.me
