extends layout.pug

block right-display
  img(src='/img/imsi_round.png').temp-draft-logo
  .img-gallery.imsi
    img(src='img/imsi-3.png')
    img(src='img/imsi-4.png')
  hr
  p
    | 텍스트는 아직도 유효할까요? 이미지를 넘어 비디오가 지배하는 시대, 저는 아직도 텍스트에 천착하는 중입니다. 하루 중 잠시라도 당신의 시간을 빌려 갈 수 있는 방법에 대해 고민하며, 저는 매일 글을 씁니다. 적어도 그러려고 노력하고 있지요. 저는 아직도 제가 무엇을 쓰고 싶은지, 무엇이 되고 싶은지 잘 몰라요.
    a(href='https://www.instagram.com/temp_drafts')  임시보관함
    | 의 서비스는 명확합니다. 저는 주 5회, 제가 쓰고 싶은 글을 써서 당신에게 이메일로 보내드립니다. 한 달에 3천원을 받구요. 아마 그 글들은 완벽하게 다듬어진 상태는 아닐지도 몰라요. 그러나 당신의 이목을 끌 정도로는 흥미로웠으면 합니다.
  br
  p
    | 이 실험이 성공한다면, 더 해보고 싶은 게 많아요. 더 많은 그림을 그려보고 싶어요. 하지만 일단은 그러기 위해서 작은 걸음을 내딛으려고 합니다. 잠시 꿈꾸는 것들을 말해보자면,
    a(href='https://www.instagram.com/temp_drafts')  임시보관함
    | 은 온라인을 넘어 오프라인으로 여러분을 만나뵙고 싶습니다. 그렇게 되기까지 꾸준히 물을 뿌려주실 수 있을까요? 간곡히 부탁드립니다. 저를 잊지 마세요. 저는 여기에 있습니다.
  br

