extends layout.pug

mixin img(src)
  img(src=src)

block right-display
  .img-gallery
    +img('img/wdg-1.png')
    +img('img/wdg-2.png')
    +img('img/wdg-3.png')
    +img('img/wdg-4.png')
    +img('img/wdg-5.png')
    +img('img/wdg-6.png')
    +img('img/wdg-7.png')
    +img('img/wdg-8.png')
    +img('img/wdg-9.png')
    +img('img/wdg-10.png')
  hr
  p
    | 이따금 적을 때면, 삶의 일부를 떼어내어 매만지는 기분이 듭니다. 대체로 작고 얕은 나의 삶에 때때로 깊은 골이 생긴다면 그곳에 고인 맑은 담수를 (때로는 새까맣기도 합니다만) 퍼내어 쏟아붓는 과정이겠죠. 활자로 만든 작은 잔에요. 그 글은 때로는 시가 되고 때로는 줄글이 되기도 하는데, 그렇게 하는 데 제 의도는 크게 중요치 않다는 느낌이 들어요. 그러니까 적어낸 글들이 나의 손에 스스로 잉태하여 숨을 쉬는 그런 과정이, 작은 즐거움이 되곤 했습니다.
  br
  p
    | 그렇게 적어둔 글을 찬찬히 살펴보다보면 시간도, 장소도 다른 곳에서 산발적으로 태어난 문장들이 어떤, 점에서 수렴하기도 합니다. 그러면 저는 그들을 보듬어 책으로 엮어내는 거예요. 그 결과물이 이렇게 또 하나 책으로 완성되었습니다. 이제 이 친구들은 제 곁을 떠나 여러분과 상응하여 새로운 감정을 불러일으키겠죠. 그런 일련의 화학작용을 지켜보는 것이 작가의 최종적인 목표가 아닐까 싶습니다.
  br
  p
    | 우리는 종종 완벽해지고자 합니다. 어쩌면 언제나 그렇죠. 그러나 번번이 실패하는 그 과정 가운데 조금씩 더 단단해지고 있는 걸까요. 그렇게 믿으며 살고자 합니다만. 절대로, 완벽해질 수는 없어요. 그 흔한 동그라미를 그릴 때조차.
  br
  p 2019년 9월 19일
  p 예훈
  hr
  p
    | 『완벽한 동그라미를 그리는 법』은 완벽한 동그라미를 그리는 법에 관한 시집입니다. 물론 농담입니다. 완벽한 동그라미를 그리는 법은 없습니다. 그러나 닿을 수 없는 이상향을 설정하는 것은 죽음에 이르기까지 끝나지 않는 우리의 여행에 방향을 설정하게 만듭니다. 쉴 새 없이 달리다 보면 가끔은 어디로 가고 있는지 확인해야 할 때가 있을지도 모르지요. 그런 생각을 하면서 적어낸 책입니다.
  p
    | 글. 예훈
    a(href="https://www.instagram.com/forortwo")  (@forortwo)
  p
    | 편집. 차주훈
    a(href="https://www.instagram.com/jhcha.app")  (@jhcha.app)
  p
    | 발행. 파킹스페이스
    a(href="https://www.instagram.com/parkingspace.me")  parkingspace
  p 판형. 128x210mm
  p 쪽수. 148+36쪽
  p 가격. 12,000원
  p ISBN. 979-11-967891-1-4 03810
