extends layout.pug

mixin img(src)
  img(src=src)

block right-display
  .img-gallery
    +img('img/tmmg-1.png')
    +img('img/tmmg-2.png')
    +img('img/tmmg-3.png')
    +img('img/tmmg-4.png')
    +img('img/tmmg-5.png')
    +img('img/tmmg-6.png')
  hr
  p
    | 나의 청춘은 지극히도 평범합니다. 고작 몇 번의 연애가 삶의 역경의 전부라고 할 수 있는 비루한 세대의 허무함을 쓰고 싶었습니다. 작은 것에도 쉽게 기뻐하고 쉽게 실망하고 쉽게 바다 깊은 곳까지 가라앉게 되는 작은 곤충 같은 나의 인생은 어찌도 그리 하찮은지.
  br
  p
    | 하찮은 인생을 하찮은 소설로 담아낼 수 있다면 그나마 나 자신에게는 솔직한 게 되겠지요. 그 고백이 내가 이 글을 쓴 첫 번째 이유입니다.
  br
  p
    | 나는 영화를 좋아합니다. 영화의 세계를 동경합니다. 하찮은 나의 삶도 그들의 삶처럼 영화가 되기를 바라 마지않습니다. 그러나 그들 또한 자신의 인생을 빛나는 것으로 여기지 않는 것 같습니다. 내가 동경하는 그들은 그들 자신을 동경하지 않으며 또 다른 이들을 동경합니다.
  br
  p
    | 그러므로 어쩌면, 이 글을 읽는 사람은 나의 평범한 인생을 동경하게 될까요? 나의 평범함이 누군가의 '영화'가 될 수 있을까요? 나는 그렇게 되지 않을 거라 생각하지만, 그 호기심이 내가 이 글을 쓴 두 번째 이유입니다.
  br
  p
    | 또, 나는 나의 삶이 누군가의 공감을 살 거라고 전혀 생각하지 않습니다. 이것은 나의 자기고백을 어루만져 만들어낸 글이며, 나의 느낀 바 감정의 조각을 모아 만든 재활용품입니다. 그러나 어떤 이들은 이 글을 보고 내가 아닌 '나'를 본다고 고백했습니다. 주류가 될 수 없는 어떤 청춘은 어딘가 어느 곳에선가 이런 사소한 삶을 사는 걸지도 모르죠.
  br

  p
    | 그게 제가 이 글을 쓴 세 번째 이유입니다. 나와 닮은 생각과 감정을 가지고 있는 이들이 같은 세상에 있다는 것만으로 위로를 받은 나의 개인적 경험이 누군가에게 비슷하게 전해질 수 있다면, 나는 기꺼이 나의 부끄러운 고백을 세상에 놓아주기로 결정했습니다.
  br
  p
    | 나와 같이, 화려하게 타오르지 못하고 이따금 빛을 내며 명멸하는 게 전부인 이들에게 바치며.
  br
  p 예훈
  hr
  p
    | 『타오르지 못하고 명멸하는 것들에 관하여』는 평범한 (혹은 그보다 부족한) 20대의 삶의 한 단면을 기록한 이야기입니다. 영화를 좋아하는 주인공은 같은 취미를 가진 이상형과 만나기도 하고, 헤어지기도 하고, 다른 여자들을 만나기도 합니다. 그중에 느끼는 감정과 특히 허무함에 관하여 공들여 적어보았습니다.
  p
    | 글. 예훈
    a(href="https://www.instagram.com/forortwo")  (@forortwo)
  p 그림. 이우림
  p
    | 편집. 차주훈
    a(href="https://www.instagram.com/jhcha.app")  (@jhcha.app)
  p
    | 발행. 파킹스페이스
    a(href="https://www.instagram.com/parkingspace.me")  parkingspace
  p 판형. 105x148mm
  p 쪽수. 261쪽
  p 가격. 9,000원
  p ISBN. 979-11-967891-0-7 00810
