head
  meta(charset='utf-8')
  title parkingspace*

  // loading p5 animation
  script(defer, src='/p5/libraries/p5.min.js')
  script(defer, src='/p5/libraries/p5.dom.js')
  script(defer, src='/asterisk.js')
  script(defer, src='/asteriskClass.js')

  // favicon
  link(rel='apple-touch-icon', href='favicon/apple-touch-icon.png')
  link(rel='icon', href='favicon/favicon-32x32.png')
  link(rel='image/png', href='favicon/favicon-16x16.png')
  link(rel='manifest', href='favicon/site.webmanifest')

  // style
  link(rel='stylesheet', href='_base.css')
  link(rel='stylesheet', href='styles.css')
